<div class="flex flex-col items-center justify-center bg-[#F2F2F2] mt-12 px-5">
  <article class="w-full max-w-[700px] block p-6 bg-white border border-gray-200 rounded-lg shadow">
    <h1 class="text-2xl text-center font-bold mb-4">
      Your profile
    </h1>
    <hr class="mb-6 border-orange-500" />
    <form [formGroup]="form" (submit)="onSubmit()" autocomplete="off">
      <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
          <label for="first_name" class="block mb-2 text-base font-medium text-gray-900">First
            name</label>
          <input type="text" id="first_name" formControlName="firstName"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5" required />
            @if(fieldHasError('firstName', 'required') || fieldHasError('firstName', 'minlength')) {
            <p class="text-red-500 mt-1 text-sm">First name must be at least 3 characters long.</p>
            }
        </div>
        <div>
          <label for="last_name" class="block mb-2 text-base font-medium text-gray-900">Last name</label>
          <input type="text" id="last_name" formControlName="lastName"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5" required />
            @if(fieldHasError('lastName', 'required') || fieldHasError('lastName', 'minlength')) {
              <p class="text-red-500 mt-1 text-sm">Last name must be at least 3 characters long.</p>
            }
        </div>
      </div>
      <div class="mb-6">
        <label for="email" class="block mb-2 text-base font-medium text-gray-900">Email address</label>
        <input type="email" id="email" formControlName="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5" required />
          @if(fieldHasError('email', 'required') || fieldHasError('email', 'email')) {
            <p class="text-red-500 mt-1 text-sm">Email address is required and must be valid.</p>
          }
      </div>
      <div class="mb-6">
        <label for="address" class="block mb-2 text-base font-medium text-gray-900">Address</label>
        <input type="text" id="address" formControlName="address"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5" required />
          @if(fieldHasError('address', 'required') || fieldHasError('address', 'minlength')) {
            <p class="text-red-500 mt-1 text-sm">Address must be at least 3 characters long.</p>
          }
      </div>
      <button
        type="submit"
        class="relative flex h-[50px] w-40 mx-auto items-center justify-center overflow-hidden border border-orange-500 text-orange-500 hover:text-white shadow-2xl rounded transition-all before:absolute before:h-0 before:w-0 before:rounded-full before:bg-orange-500 before:duration-500 before:ease-out hover:shadow-orange-500 hover:before:h-56 hover:before:w-56">
        <span class="relative z-10">
          Save
        </span>
      </button>
    </form>
  </article>
</div>
